

body, html {
  background: linear-gradient(#141221, #524A87);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Bold;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  
}
.header {
  position: relative;
  top: 30px;
  
}
.header img {
  width: 95%;
}
.header-info {
  font-size: 18pt;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.breadButton{
  position: relative;
  font-size: 35pt;
  top: 60px;
}
.clickIncome{
  position: relative; 
  top: 60px; 
  font-size: 24pt;
}
.button {
  cursor: pointer;
  position: relative;
  width: 50%;
  transition: transform 0.2s, box-shadow 0.2s;
}
.button img { 
  width: 100px;
}

.click{
  position: relative;
  top: 70px;
}
.click:active {
  transform: scale(0.95); /* Уменьшаем кнопку */
  transition: transform 0.5s, background-color 0.2s;
}
#progressBarContainer {
  position: relative;
  top: 100px;
  width: 100%; 
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  
}
#progressBar {
  height: 100%;
  width: 0%;
  background-color: #76b852;
  transition: width 0.25s;
}
.level-info{
  position: relative;
  top: 100px;
  font-size: 20pt;
}
.footer {
  position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  bottom: -10%; /* Прижимаем изображение к нижней части окна браузера */
  left: 0; /* Выравниваем изображение по левому краю окна браузера */
  width: 100%; 

}
.footer img {
  width: 95%;
}
.mine{
  position: relative;
  top: 10px;
  left: 5px;
}
.shop{
  position: relative;
  top: 7px;
}
.quest{
  position: relative;
  right: 5px;
}
.mconvert{
  position: relative;
  right: 10px;
}
.menu-icons img {
  position: relative;
  transform: translate(0%, -150%);
  width: 90px;
}
.context{
  position: relative; 
  top: 60px; 
}
.contet{
  position: relative; 
  top: 60px;
}
.convertcoin{
  position: relative; 
  top: 80px;
  right: 40%;
}
.convertbut{
  position: relative; 
  top: 250px;
}
.clickcoin{
  position: relative; 
  font-size: 40px;
  top: 32px;
  right: 30%;
}
.cont{
  position: relative; 
  top: 250px;
}
.quest{
  position: relative; 
  top: 70px;
}
.check1{
  position: relative;
  height: 30px;
  left: 70px;
}
