

body, html {
  background: linear-gradient(#141221, #524A87);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  
}
.header {
  position: relative;
  
}
.header img {
  width: 95%;
  
  
}
.header-info {
  font-size: 20pt;
  position: absolute;
  top: 45%;
  right: 150px;
  transform: translate(-50%, -50%);
}
.breadButton{
  position: relative;
  font-size: 35pt;
  top: 100px;
}
.clickIncome{
  position: relative;
  top: 100px;
  font-size: 24pt;
}
.button {
  cursor: pointer;
  position: relative;
  width: 50%;
}
.button img { 
  width: 100px;
}
.click{
  position: relative;
  top: 100px;
}
#progressBarContainer {
  position: relative;
  top: 100px;
  width: 100%; 
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  
}
#progressBar {
  height: 100%;
  width: 0%;
  background-color: #76b852;
  transition: width 0.25s;
}
.level-info{
  position: relative;
  top: 100px;
  font-size: 24pt;
}
.footer {
  position: relative;
  top: 100px;

}
.footer img {
  width: 95%;
}
.menu-icons img {
  
  transform: translate(0%, -150%);
  width: 90px;

}
